# build artifacts
my-sketch-plugin.sketchplugin

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea

# sketch
# sketch-assets
./src/my-command.js
./src/nsSidePanel.js


README1.md
